@using HomeVidProject.Models
@using HomeVidProject.ViewModels
@*@model HomeVidProject.ViewModels.RandomMovieViewModel*@
@model IEnumerable<HomeVidProject.Models.Movie>

@*
    This View is Responsible for Movies Models    
*@

@{
    ViewBag.Title = "Movies";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*@{
    var className = Model.Customers.Count > 5 ? "popular" : null;
}*@

<h2>Movies</h2>

@if (!Model.Any())
{
    <p>There are currently no movies available!</p>
}
else
{
    <table class="table table-bordered table-hover">
        <thead>
        <tr>
            <th>Movie</th>
            <th>Genre</th>
            
        </tr>
        </thead>
        <tbody>
        
                @foreach (var movie in Model)
                {
                    <tr>
                        <td>@Html.ActionLink(@movie.Name, "Details", "Movies", new {id = movie.Id}, null)</td>
                        <td>@movie.Genre.GenreName</td>
                    </tr>
                }
            
        </tbody>
        


    </table>
}



