
@using HomeVidProject.Models
@using HomeVidProject.ViewModels
@using Microsoft.Ajax.Utilities
@model IEnumerable<HomeVidProject.Models.Customer>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Customers</h2>

@if (!Model.Any())
{
    <p>There are currently no customerDtoDtos!</p>
    <p><span>@Html.ActionLink("Add Customer", "New", "Customers", new { @class = "btn btn-success btn-xs" })</span></p>

}
else
{
    <p><span>@Html.ActionLink("Add Customer", "New", "Customers", new { @class = "btn btn-success btn-xs" })</span></p>
    <table class="table table-bordered table-hover">
        <thead>
        <tr>
            <th>Customer</th>
            <th>Membership Type</th>
            
        </tr>
        </thead>
        <tbody>

        @foreach (var customer in Model)
        {
            <tr>
                <td>@Html.ActionLink(customer.Name, "Edit", "Customers", new {id = customer.Id}, null)</td>
                <td>@customer.MembershipType.MembershipName</td>
            </tr>
        }

        </tbody>



    </table>
        
}
